$browser-context: 16;

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

@function rem($pixels, $context: $browser-context) {
  @return #{$pixels/$context}rem;
}

@mixin transition($transition-target,$transition-type,$transition-duration) {
	-webkit-transition: $transition-target $transition-type $transition-duration;
	-moz-transition: $transition-target $transition-type $transition-duration;
	-ms-transition: $transition-target $transition-type $transition-duration;
}

@mixin border-box() {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	box-sizing: border-box;  
}

@mixin bg-img() {
	background-position: center center;
	background-size:cover;
	background-repeat: no-repeat;
}

@mixin bg-img-url($bgpath, $file-extension) {
	$url:"../images/#{$bgpath}.#{$file-extension}";
	background-image: url($url);
}
