/*===fonts===*/

$font-main: 'Muli', sans-serif;
$font-secondary: 'Roboto Slab', serif;
$font-title: 'Pathway Gothic One', sans-serif;

/*===font-weight===*/

$light: 300;
$regular: 400;
$semi-bold: 600;
$bold: 700;

/*===colors===*/

$cta-main: #36c6b8;

$light-blue: #eff9fa;

$light-grey: #bdc2cc;
$medium-grey: #6b7a8f;
$dark-grey: #2d343e;

$content-grey: #3b3a3a;


