@import url("https://fonts.googleapis.com/css?family=Muli:300,300i,400,600,600i,700");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Pathway+Gothic+One");
/*===fonts===*/
/*===font-weight===*/
/*===colors===*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

body, html {
  margin: 0;
  padding: 0; }

b, strong {
  font-weight: bold; }

body {
  position: relative; }

.container {
  max-width: 61.25rem;
  width: 90%;
  margin: 0 auto; }

.button {
  background-color: #36c6b8;
  color: white;
  font-size: 0.75em;
  font-weight: 700;
  font-family: "Muli", sans-serif;
  border-radius: 0.875rem 0;
  display: inline-block;
  letter-spacing: 0.0625rem;
  padding: 1.25rem 1.875rem;
  transition: all ease-in-out .2s; }
  .button:hover {
    color: #36c6b8;
    background-color: white; }

/*======Header======*/
header {
  position: relative;
  z-index: 999;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  header #logo {
    display: inline-block;
    padding: 0.625rem 1.5625rem 0.625rem 5%; }
    header #logo img {
      height: 3.75rem;
      width: 14.6875rem; }
  header nav ul {
    padding: 0;
    margin: 0; }
    header nav ul li {
      list-style-type: none; }
      header nav ul li.current-menu-item > a, header nav ul li.current-menu-item i, header nav ul li.current-menu-parent > a, header nav ul li.current-menu-parent i {
        color: #36c6b8 !important; }
  header nav > ul {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
    header nav > ul > li {
      margin-left: 3.125rem;
      position: relative; }
      header nav > ul > li.menu-item-has-children i {
        position: absolute;
        top: 1.5625rem;
        right: 0.3125rem;
        color: #2d343e;
        font-size: 0.75rem; }
      header nav > ul > li:first-of-type {
        margin-left: 0; }
      header nav > ul > li a {
        display: block;
        font-size: 0.75em;
        font-weight: 700;
        font-family: "Muli", sans-serif;
        color: #2d343e;
        padding: 1.5625rem 1.25rem 1.5625rem 0.3125rem;
        letter-spacing: 0.0625rem;
        text-transform: uppercase; }
      header nav > ul > li ul {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        background-color: #eff9fa;
        padding: 0.5rem 0;
        position: absolute;
        display: none; }
        header nav > ul > li ul:before {
          content: '';
          position: absolute;
          width: 0;
          height: 0;
          top: -1.25rem;
          left: 1.4375rem;
          border-style: solid;
          border-width: 1.375rem 0 0 1.375rem;
          border-color: transparent transparent transparent #eff9fa; }
        header nav > ul > li ul li {
          margin: 0 1.5625rem;
          width: 11.25rem; }
          header nav > ul > li ul li:last-of-type a {
            border: none; }
          header nav > ul > li ul li a {
            font-size: 0.75em;
            font-weight: 600;
            font-family: "Muli", sans-serif;
            color: #2d343e;
            padding: 0.75rem 0;
            border-bottom: 0.125rem solid white;
            line-height: 1.3; }
  header #mobile-menu {
    display: none; }

.cta-banner {
  background: linear-gradient(60deg, #36c6b8 49.95%, #2d343e 50.05%);
  padding: 1.25rem 0 1.5625rem; }
  .cta-banner .container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    .cta-banner .container .cta-left {
      -webkit-flex: 0 0 40%;
      -ms-flex: 0 0 40%;
      flex: 0 0 40%;
      margin-right: 10%; }
      .cta-banner .container .cta-left h2 {
        font-size: 2.8125em;
        font-family: "Pathway Gothic One", sans-serif;
        color: white;
        text-transform: uppercase;
        letter-spacing: 0.125rem;
        margin: 0; }
    .cta-banner .container .cta-right {
      -webkit-flex: 0 0 40%;
      -ms-flex: 0 0 40%;
      flex: 0 0 40%;
      margin-left: 10%; }
      .cta-banner .container .cta-right p {
        font-size: 1.4375em;
        font-weight: 300;
        font-family: "Muli", sans-serif;
        color: white;
        margin: 0;
        line-height: 1.4; }

/*======Footer======*/
#footer-main {
  background-color: #6b7a8f;
  padding: 2.8125rem 0; }
  #footer-main .container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    #footer-main .container #social {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      padding: 0;
      margin: 0; }
      #footer-main .container #social li {
        list-style-type: none; }
        #footer-main .container #social li:last-of-type a {
          margin-right: 0; }
        #footer-main .container #social li a {
          margin-right: 0.9375rem; }
          #footer-main .container #social li a i {
            color: #bdc2cc; }
            #footer-main .container #social li a i:before {
              font-size: 1.75em; }
    #footer-main .container h3 {
      font-size: 1.25em;
      font-family: "Roboto Slab", serif;
      font-weight: 700;
      color: white;
      letter-spacing: 0.0625rem;
      margin: 0 0 1.25rem;
      padding-bottom: 0.625rem;
      border-bottom: 0.125rem solid #8797ad; }
    #footer-main .container p {
      font-size: 0.9375em;
      font-family: "Muli", sans-serif;
      font-weight: 400;
      color: #e0e0e0;
      line-height: 1.6;
      margin: 0; }
    #footer-main .container a {
      font-size: 0.9375em;
      font-family: "Muli", sans-serif;
      font-weight: 400;
      color: #e0e0e0;
      line-height: 1.6;
      margin: 0;
      display: block; }
      #footer-main .container a:hover {
        color: #36c6b8; }

#footer-copy {
  background-color: #8797ad; }
  #footer-copy .container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    #footer-copy .container p {
      font-size: 0.875em;
      font-family: "Muli", sans-serif;
      font-weight: 400;
      color: #6b7a8f; }
    #footer-copy .container a {
      font-size: 1em;
      font-family: "Muli", sans-serif;
      font-weight: 600;
      color: #6b7a8f; }
      #footer-copy .container a:hover {
        color: #36c6b8; }

/*======Home Page======*/
.home header {
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%; }
  .home header nav ul li a, .home header nav ul li i {
    color: white; }
  .home header nav ul li ul li a {
    color: #2d343e; }

.banner .slide {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
  height: 100vh; }
  .banner .slide:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); }
  .banner .slide .container {
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    .banner .slide .container h1 {
      font-size: 2.5em;
      font-weight: 700;
      font-family: "Roboto Slab", serif;
      color: white;
      margin: 0 0 0.9375rem; }
    .banner .slide .container h2 {
      font-size: 1.6875em;
      font-weight: 300;
      font-family: "Roboto Slab", serif;
      color: white;
      margin: 0;
      line-height: 1.3; }
    .banner .slide .container a {
      margin-top: 1.5625rem;
      background-color: transparent;
      border: 0.125rem solid white;
      padding: 1.25rem 2.8125rem;
      -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
      align-self: flex-start; }
      .banner .slide .container a:hover {
        background-color: rgba(255, 255, 255, 0.3);
        color: white; }

.banner .flickity-page-dots {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  right: 0;
  top: 0;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: auto; }
  .banner .flickity-page-dots li {
    width: 1.09375rem;
    height: 1.09375rem;
    position: relative;
    border: 0.0625rem solid white;
    border-radius: 50%;
    margin-bottom: 0.625rem; }
    .banner .flickity-page-dots li:before {
      content: " ";
      position: absolute;
      top: 0.125rem;
      left: 0.125rem;
      right: 0.125rem;
      bottom: 0.125rem;
      border-radius: 50%;
      background-color: white; }
    .banner .flickity-page-dots li.is-selected {
      background-color: transparent; }
      .banner .flickity-page-dots li.is-selected:before {
        background-color: white; }

#home-pods {
  background-color: #eff9fa; }
  #home-pods .container {
    text-align: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    top: -3.4375rem; }
    #home-pods .container .home-pod {
      background-color: #2d343e;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      padding: 7.8125rem 5% 1.875rem;
      margin-right: 1.25rem;
      border-radius: 2.8125rem 0;
      position: relative; }
      #home-pods .container .home-pod:before {
        content: '+';
        color: white;
        font-weight: 700;
        font-size: 1.5em;
        position: absolute;
        bottom: 0.75rem;
        left: 1rem;
        z-index: 999999; }
      #home-pods .container .home-pod:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 4.6875rem 0 0 4.6875rem;
        border-color: transparent transparent transparent #8dd1da; }
      #home-pods .container .home-pod:hover {
        background: linear-gradient(to top right, #76c9d3, #57bc90); }
        #home-pods .container .home-pod:hover:after {
          border-color: transparent; }
        #home-pods .container .home-pod:hover .pod-image {
          display: none; }
        #home-pods .container .home-pod:hover .pod-image-hover {
          display: block; }
        #home-pods .container .home-pod:hover h2 {
          color: white; }
      #home-pods .container .home-pod:last-of-type {
        margin: 0; }
      #home-pods .container .home-pod img {
        height: 4.6875rem;
        width: 4.6875rem;
        margin: 0 auto;
        position: absolute;
        left: 0;
        right: 0;
        top: 3.125rem; }
      #home-pods .container .home-pod .pod-image-hover {
        display: none; }
      #home-pods .container .home-pod h2 {
        font-size: 1.125em;
        font-family: "Pathway Gothic One", sans-serif;
        color: #36c6b8;
        margin: 1.25rem 0;
        letter-spacing: 0.125rem; }
      #home-pods .container .home-pod p {
        font-size: 1em;
        font-weight: 300;
        font-family: "Muli", sans-serif;
        color: white;
        margin: 0;
        line-height: 1.4; }

#home-partners {
  padding: 2.1875rem 0; }
  #home-partners .container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    #home-partners .container .partner {
      max-height: 4.6875rem;
      max-width: 7.5rem; }

/* Secondary Pages */
.col-left {
  -webkit-flex: 0 0 25%;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  margin-right: 5%; }

.col-right {
  -webkit-flex: 0 0 70%;
  -ms-flex: 0 0 70%;
  flex: 0 0 70%; }
  .col-right p {
    font-size: 1em;
    font-family: "Muli", sans-serif;
    font-weight: 400;
    color: #3b3a3a;
    line-height: 1.5;
    margin: 0; }

/*======About Page======*/
#about-nav {
  padding: 2.8125rem 0;
  border-top: 0.0625rem solid #b5bcc7; }
  #about-nav .container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
    #about-nav .container ul {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      padding: 0;
      margin: 0; }
      #about-nav .container ul li {
        list-style-type: none; }
        #about-nav .container ul li:last-of-type a {
          margin: 0; }
        #about-nav .container ul li a {
          font-size: 1.375em;
          font-family: "Pathway Gothic One", sans-serif;
          color: #2d343e;
          letter-spacing: 0.125rem;
          margin: 0 4.6875rem 0 0;
          display: block; }
        #about-nav .container ul li.current-menu-item a, #about-nav .container ul li:hover a {
          color: #b9bfc9; }

.secondary-banner {
  position: relative;
  padding: 5rem 0; }
  .secondary-banner .section-image {
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .secondary-banner .banner-content {
    max-width: 20.625rem;
    background-color: #b9bfc9;
    padding: 3.125rem 25% 3.125rem 1.875rem;
    border-radius: 3.125rem 0 0 0;
    margin: 0 0 0 auto;
    position: relative; }
    .secondary-banner .banner-content h1 {
      color: white;
      font-size: 1.125em;
      font-family: "Pathway Gothic One", sans-serif;
      text-transform: uppercase;
      letter-spacing: 0.125rem;
      margin: 0 0 1.25rem; }
    .secondary-banner .banner-content h2 {
      font-size: 1.1875em;
      font-weight: 600;
      font-family: "Muli", sans-serif;
      color: #3b3a3a;
      margin: 0;
      line-height: 1.6;
      letter-spacing: 0.0625rem; }
    .secondary-banner .banner-content p {
      font-size: 1em;
      font-weight: 300;
      font-family: "Muli", sans-serif;
      color: #3b3a3a;
      margin: 0 0 1.25rem;
      line-height: 1.7;
      letter-spacing: 0.0625rem; }
      .secondary-banner .banner-content p:first-of-type {
        margin-top: 1.5625rem; }
      .secondary-banner .banner-content p:last-of-type {
        margin-bottom: 0; }
    .secondary-banner .banner-content .button {
      position: absolute;
      bottom: -1.25rem; }

.general-content {
  padding: 4.6875rem 0 4.0625rem; }
  .general-content .container {
    text-align: center; }
    .general-content .container p {
      font-size: 1.6875em;
      font-weight: 300 !important;
      font-family: "Roboto Slab", serif;
      color: #3b3a3a;
      line-height: 1.5;
      margin: 0; }

#qualifications-section {
  background-color: #eff9fa;
  padding: 6.875rem 0; }
  #qualifications-section .container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    #qualifications-section .container .qualifications {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      #qualifications-section .container .qualifications .qualification {
        margin-right: 4.375rem; }
        #qualifications-section .container .qualifications .qualification img {
          height: 4.6875rem; }
        #qualifications-section .container .qualifications .qualification:last-of-type {
          margin: 0 3.125rem 0 0; }
    #qualifications-section .container .qualifications-content p {
      font-size: 1.6875em;
      font-weight: 300;
      font-family: "Roboto Slab", serif;
      color: #6b7a8f;
      line-height: 1.5;
      margin: 0; }

/*======Conditions Page======*/
#condition {
  padding: 4.6875rem 0; }
  #condition .container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    #condition .container .col-left h2 {
      font-size: 1.3125em;
      font-family: "Pathway Gothic One", sans-serif;
      color: #bdc2cc;
      letter-spacing: 0.125em;
      margin: 0;
      text-align: center;
      text-transform: uppercase; }
    #condition .container .col-left #condition-stats {
      background-color: #bdc2cc;
      border-radius: 40px 0 40px;
      padding: 1.875rem 1.5625rem 1.25rem 2.5rem;
      background-image: url(../icons/vector-smart-object.png);
      background-repeat: no-repeat;
      background-position: 90% 100%; }
      #condition .container .col-left #condition-stats p {
        font-size: 1em;
        font-family: "Muli", sans-serif;
        font-weight: 400;
        color: #2d343e;
        line-height: 1.4;
        margin: 0;
        position: relative;
        bottom: 1.5rem;
        text-indent: 30%;
        padding-left: 5%; }
      #condition .container .col-left #condition-stats span {
        font-size: 10em;
        font-family: "Pathway Gothic One", sans-serif;
        color: #6b7a8f; }
        #condition .container .col-left #condition-stats span:after {
          content: '\0025';
          font-size: 0.625em;
          vertical-align: top;
          position: relative;
          top: 0.625rem; }
    #condition .container .col-right h2 {
      font-size: 1.5625em;
      font-family: "Pathway Gothic One", sans-serif;
      color: #2d343e;
      letter-spacing: 0.0625rem;
      margin: 0 0 2.1875rem; }
    #condition .container .col-right h3 {
      font-size: 1em;
      font-weight: 600;
      font-family: "Muli", sans-serif;
      color: #3b3a3a;
      margin: 0; }
    #condition .container .col-right p {
      font-size: 1em;
      font-weight: 400;
      font-family: "Muli", sans-serif;
      color: #3b3a3a;
      margin: 0;
      line-height: 1.4; }
      #condition .container .col-right p:first-of-type {
        margin: 1.25rem 0; }
    #condition .container .col-right ul {
      padding: 0;
      margin: 0; }
      #condition .container .col-right ul li {
        font-size: 1.0625em;
        font-family: "Muli", sans-serif;
        font-weight: 400;
        color: #3b3a3a;
        border-bottom: 0.0625rem solid black;
        padding-bottom: 0.3125rem;
        margin: 0 0 0.9375rem 1.875rem;
        display: inline-block;
        position: relative;
        display: table; }
        #condition .container .col-right ul li:before {
          content: '';
          background-image: url("../icons/bullet-image.png");
          height: 0.9375rem;
          width: 0.9375rem;
          display: inline-block;
          background-size: cover;
          position: absolute;
          top: 0.125rem;
          left: -1.5625rem; }
        #condition .container .col-right ul li:last-of-type {
          margin-bottom: 0; }

#condition-info {
  background-color: #eff9fa;
  padding: 4.375rem 0 3.75rem; }
  #condition-info .container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    #condition-info .container .col-left {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
      align-self: flex-start;
      -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      margin: 0 0 0 2.1875rem;
      border-right: 0.0625rem solid #6b7a8f;
      -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
      align-self: stretch; }
      #condition-info .container .col-left .button {
        background-color: #eff9fa;
        color: #f70213;
        border: 0.125rem solid #f70213;
        margin-right: 2.1875rem;
        padding: 1.25rem 3.125rem;
        -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
        align-self: flex-start; }
        #condition-info .container .col-left .button:hover {
          background-color: #f70213;
          color: #eff9fa; }
    #condition-info .container .col-right {
      padding-left: 0.9375rem; }
      #condition-info .container .col-right h3 {
        font-size: 0.9375em;
        font-family: "Muli", sans-serif;
        font-weight: 600;
        font-style: italic;
        color: #2d343e;
        letter-spacing: 0.0625rem;
        margin: 0 0 1.25rem; }
        #condition-info .container .col-right h3:last-of-type {
          margin: 0;
          font-style: normal; }
      #condition-info .container .col-right p {
        font-size: 0.9375em;
        font-family: "Muli", sans-serif;
        font-weight: 400;
        color: #3b3a3a;
        line-height: 1.3;
        margin: 0 0 2.5rem; }

/*======Services Page======*/
#service-info {
  padding: 4.375rem 0; }
  #service-info .container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    #service-info .container .col-right {
      border-top: 0.125rem solid #77c9d4; }
    #service-info .container .col-left {
      border-top: 0.125rem solid #77c9d4; }
      #service-info .container .col-left #services-expand {
        font-size: 0.75em;
        font-family: "Muli", sans-serif;
        font-weight: 600;
        background-color: #2d343e;
        color: #36c6b8;
        padding: 0.9375rem;
        display: block;
        text-transform: uppercase;
        letter-spacing: 0.0625rem;
        display: none; }
      #service-info .container .col-left ul {
        padding: 0;
        margin: 0; }
        #service-info .container .col-left ul li {
          list-style-type: none;
          position: relative; }
          #service-info .container .col-left ul li:after {
            content: '';
            width: 92.5%;
            height: 1px;
            background-color: #f2f4f6;
            position: absolute;
            right: 2.5%;
            top: 0; }
          #service-info .container .col-left ul li:last-of-type {
            border: none; }
          #service-info .container .col-left ul li a {
            font-size: 0.75em;
            font-family: "Muli", sans-serif;
            font-weight: 600;
            color: #2d343e;
            padding: 0.9375rem;
            display: block;
            text-transform: uppercase;
            letter-spacing: 0.0625rem;
            line-height: 1.5; }
            #service-info .container .col-left ul li a:hover {
              color: #36c6b8; }
        #service-info .container .col-left ul .current:after {
          display: none; }
        #service-info .container .col-left ul .current a {
          color: white;
          background-color: #36c6b8;
          border-radius: 0.875rem 0; }
          #service-info .container .col-left ul .current a:hover {
            color: white; }
    #service-info .container .col-right p {
      margin-bottom: 1.5625rem; }
      #service-info .container .col-right p:last-of-type {
        margin: 0; }
    #service-info .container h2 {
      font-size: 1.5625em;
      font-family: "Pathway Gothic One", sans-serif;
      color: #2d343e;
      letter-spacing: 0.125rem; }

#service-list {
  padding: 4.6875rem 0;
  background-color: #eff9fa; }
  #service-list .container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    #service-list .container .service-col {
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      margin-right: 5%; }
      #service-list .container .service-col:last-of-type {
        margin-right: 0; }
      #service-list .container .service-col .service-list-item {
        margin-bottom: 1.875rem;
        position: relative;
        max-width: 80%; }
        #service-list .container .service-col .service-list-item:before {
          content: '';
          background-image: url(../icons/check-mark.png);
          position: absolute;
          width: 1.25rem;
          height: 1.0625rem;
          background-size: cover;
          background-position: center;
          top: 0;
          left: -2.1875rem; }
        #service-list .container .service-col .service-list-item h3 {
          font-size: 1.0625em;
          font-family: "Muli", sans-serif;
          font-weight: 600;
          color: red;
          padding-bottom: 0.3125rem;
          border-bottom: 0.0625rem solid red;
          margin: 0;
          display: inline-block; }
        #service-list .container .service-col .service-list-item p {
          font-size: 0.8125em;
          font-family: "Muli", sans-serif;
          font-weight: 400;
          color: #2d343e;
          margin: 0.625rem 0 0; }
        #service-list .container .service-col .service-list-item:last-of-type {
          margin-bottom: 0; }

/*======The Practice Page======*/
#contact-banner {
  padding: 9.375rem 0 10.9375rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  #contact-banner .container {
    text-align: end; }
    #contact-banner .container h1 {
      font-size: 2.1875em;
      font-family: "Pathway Gothic One", sans-serif;
      color: white;
      letter-spacing: 0.125rem; }

#contact-wrapper {
  background-image: url(../icons/title-background.png);
  background-repeat: no-repeat;
  background-position: 25% 104%;
  background-size: 40.625rem; }
  #contact-wrapper .container {
    background-color: #eff9fa;
    padding: 3.4375rem 0 0 3%;
    border-radius: 4.375rem 0 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    top: -4.375rem; }
    #contact-wrapper .container #contact-content {
      margin: 0 0 3.75rem;
      -webkit-align-self: center;
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
      position: relative; }
      #contact-wrapper .container #contact-content p {
        font-size: 1.125em;
        font-family: "Muli", sans-serif;
        font-weight: 600;
        color: #3b3a3a;
        margin: 0 0 0.625rem; }
      #contact-wrapper .container #contact-content a {
        font-size: 1.125em;
        font-family: "Muli", sans-serif;
        font-weight: 600;
        font-style: italic;
        color: #6b7a8f;
        text-decoration: underline;
        letter-spacing: 0.0625rem;
        margin: 0; }
      #contact-wrapper .container #contact-content:before {
        content: '';
        position: absolute;
        bottom: -1.25rem;
        left: 0;
        height: 0.125rem;
        width: 4.0625rem;
        background-color: #6b7a8f; }
    #contact-wrapper .container #contact-information {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      #contact-wrapper .container #contact-information #contact-left {
        -webkit-flex: 0 0 20%;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        margin-right: 4%;
        padding-bottom: 1.25rem;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start; }
        #contact-wrapper .container #contact-information #contact-left a {
          font-size: 2.0625em;
          font-family: "Pathway Gothic One", sans-serif;
          letter-spacing: 0.125rem;
          color: #36c6b8; }
        #contact-wrapper .container #contact-information #contact-left p {
          font-size: 1em;
          font-family: "Muli", sans-serif;
          font-weight: 600;
          color: #3b3a3a;
          line-height: 1.6;
          margin: 1.875rem 0 0; }
          #contact-wrapper .container #contact-information #contact-left p:last-of-type {
            padding-bottom: 3.75rem;
            border-bottom: 0.0625rem solid #6b7a8f; }
        #contact-wrapper .container #contact-information #contact-left #additional-info p {
          opacity: .6;
          border: none;
          padding: 0;
          margin: 1.25rem 0 0; }
      #contact-wrapper .container #contact-information #map {
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1; }

/*	Google Maps API	*/
a[href^="http://maps.google.com/maps"] {
  display: none !important; }

a[href^="https://maps.google.com/maps"] {
  display: none !important; }

.gmnoprint .gm-style-mtc, .gmnoprint a, .gmnoprint span, .gm-style-cc {
  display: none !important; }

.gmnoprint div {
  background: none !important; }

@media only screen and (max-width: 73.75rem) {
  .secondary-banner .banner-content {
    padding-right: 25%; } }

@media only screen and (max-width: 62.5rem) {
  .secondary-banner .banner-content {
    padding-right: 20%; } }

@media only screen and (max-width: 60rem) {
  body, html {
    font-size: 15px; } }

@media only screen and (min-width: 53.75rem) {
  header nav ul li:hover > a, header nav ul li:hover i {
    color: #36c6b8 !important; }
  header nav ul li:hover ul {
    display: block; } }

@media only screen and (max-width: 53.75rem) {
  .secondary-banner {
    padding: 0; }
    .secondary-banner .section-image {
      position: static;
      padding-bottom: 56.25%; }
    .secondary-banner .banner-content {
      padding-right: 15%;
      font-size: 13px;
      max-width: 100%;
      border-radius: 0;
      text-align: center; }
      .secondary-banner .banner-content .button {
        position: static;
        margin-top: 1.25rem; }
  header .container {
    display: none;
    position: absolute;
    background-color: #2d343e;
    width: 100%;
    left: 0;
    max-width: 100%;
    top: 100%;
    overflow: hidden; }
    header .container nav {
      padding: 1.25rem 5%; }
      header .container nav ul {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        position: initial !important;
        background-color: transparent; }
        header .container nav ul:before {
          display: none; }
        header .container nav ul > li {
          margin: 0; }
          header .container nav ul > li a {
            display: inline-block;
            color: white !important;
            border-bottom: none;
            padding-top: 0.9375rem;
            padding-bottom: 0.9375rem; }
          header .container nav ul > li > ul {
            padding: 0; }
            header .container nav ul > li > ul > li {
              text-indent: 0.625rem;
              width: 100%; }
              header .container nav ul > li > ul > li > a {
                padding: 0.625rem; }
          header .container nav ul > li i {
            cursor: pointer;
            top: 1.0625rem;
            color: white; }
          header .container nav ul > li.active > a, header .container nav ul > li.active i {
            color: #36c6b8 !important; }
        header .container nav ul .current-menu-parent > a {
          color: #36c6b8 !important; }
  header #mobile-menu {
    display: block;
    width: 1.875rem;
    height: 1.25rem;
    position: absolute;
    right: 5%;
    cursor: pointer; }
    header #mobile-menu span {
      width: 100%;
      height: 2px;
      background-color: #2d343e;
      position: absolute;
      transition: all ease-in-out 0.3s;
      left: 0; }
      header #mobile-menu span:first-child {
        top: 0; }
      header #mobile-menu span + span {
        top: 50%; }
      header #mobile-menu span:last-child {
        top: 100%; }
  header.active #mobile-menu span:first-of-type {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 50%; }
  header.active #mobile-menu span:nth-of-type(2) {
    left: -1.25rem;
    width: 0;
    opacity: 0; }
  header.active #mobile-menu span:last-of-type {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 50%; }
  .home header #mobile-menu span {
    background-color: white; }
  .banner .flickity-page-dots {
    display: none; }
  #home-pods .container {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    top: 0; }
    #home-pods .container .home-pod {
      margin: 1.875rem 0 0; }
      #home-pods .container .home-pod:last-of-type {
        margin: 1.875rem 0; }
      #home-pods .container .home-pod p {
        padding: 0 10%; }
  #contact-banner .container {
    text-align: center; }
  #contact-wrapper .container {
    top: 0;
    width: 100%;
    border-radius: 0;
    box-sizing: border-box;
    padding-right: 5%;
    padding-bottom: 2.5rem; }
    #contact-wrapper .container #contact-content {
      -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
      align-self: flex-start; }
    #contact-wrapper .container #contact-information {
      display: initial; }
      #contact-wrapper .container #contact-information #contact-left {
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%; }
      #contact-wrapper .container #contact-information #map {
        padding-bottom: 56.25%; }
  #service-info .container {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    #service-info .container .col-left {
      margin-right: 0;
      border-top: none; }
      #service-info .container .col-left ul li:after {
        width: 100%;
        left: 0; }
  #service-info #services-expand {
    display: block !important;
    cursor: pointer; }
  #service-info #services-list {
    display: none; }
  #service-list {
    padding: 2.5rem 5%; }
    #service-list .container {
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; }
      #service-list .container .service-col {
        max-width: 15.625rem !important;
        margin-right: 0; }
        #service-list .container .service-col .service-list-item {
          margin-bottom: 1.25rem;
          max-width: 100%; }
          #service-list .container .service-col .service-list-item:last-of-type {
            margin-bottom: 1.25rem; }
  .current a {
    border-radius: 0 !important; } }

@media only screen and (max-width: 48.75rem) {
  .secondary-banner .banner-content {
    padding-right: 10%;
    font-size: 13px; }
  #qualifications-section {
    padding: 2.1875rem 0; }
    #qualifications-section .container {
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      text-align: center; }
      #qualifications-section .container .qualifications-content p {
        font-size: 1em; }
      #qualifications-section .container .qualifications {
        margin: 0 0 1.875rem; }
        #qualifications-section .container .qualifications .qualification:last-of-type {
          margin: 0; }
  .general-content {
    padding: 2.1875rem 0; }
    .general-content .container p {
      font-size: 1em; }
  #condition .container, #condition-info .container {
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }
    #condition .container .col-left, #condition-info .container .col-left {
      margin: 3.125rem 0 0;
      display: initial;
      max-width: 15.625rem;
      border: none; }
    #condition .container .col-right, #condition-info .container .col-right {
      padding: 0; } }

@media only screen and (max-width: 45.625rem) {
  .general-content .container p {
    font-size: 20px; }
  #qualifications-section .container .qualifications-content p {
    font-size: 20px; }
  .cta-banner {
    padding: 0;
    background: none; }
    .cta-banner .container {
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      text-align: center;
      -webkit-align-items: stretch;
      -ms-flex-align: stretch;
      align-items: stretch;
      width: 100%;
      max-width: 100%; }
      .cta-banner .container .cta-left {
        background-color: #36c6b8;
        margin-right: 0;
        padding: 1.25rem 5%; }
      .cta-banner .container .cta-right {
        margin: 0;
        padding: 0;
        background-color: #2d343e;
        padding: 1.25rem 5%; }
  #footer-main .container {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center; }
    #footer-main .container #social {
      margin-bottom: 1.875rem; }
    #footer-main .container .footer-pod {
      margin-bottom: 1.875rem; }
  #footer-copy .container {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center; }
    #footer-copy .container p:last-of-type {
      margin-top: 0; } }

@media only screen and (max-width: 33.125rem) {
  .banner {
    font-size: 10px; }
    .banner .container {
      text-align: center; }
      .banner .container a {
        -webkit-align-self: center !important;
        -ms-flex-item-align: center !important;
        -ms-grid-row-align: center !important;
        align-self: center !important; }
  #home-partners .container .partner {
    margin: 0;
    width: 20%;
    max-width: 100%;
    max-height: 100%; }
    #home-partners .container .partner:first-of-type {
      margin: 0; }
  .cta-banner .container .cta-right {
    font-size: 10px; }
    .cta-banner .container .cta-right .button {
      font-size: 10px;
      padding: 10px 15px; } }

@media only screen and (max-width: 28.75rem) {
  #service-list .container {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    #service-list .container .service-col {
      max-width: 100%;
      -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch; }
      #service-list .container .service-col .service-list-item:before {
        top: 0;
        left: -1.5625rem; }
      #service-list .container .service-col:last-of-type {
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center; }
  .secondary-banner .banner-content {
    padding: 1.875rem 10% 1.875rem 1.25rem; }
  #about-nav .container ul li a {
    margin-right: 3.125rem; } }

@media only screen and (max-width: 20.625rem) {
  .qualifications {
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    .qualifications .qualification {
      margin: 0 !important; }
  #about-nav .container ul li a {
    margin-right: 1.875rem;
    font-size: 1.125em; } }
