
body {
	position: relative;
}

.container {
	max-width: rem(980);
	width: 90%;
	margin: 0 auto;
}

.button {
	background-color: $cta-main;
	color: white;
	font-size: em(12);
	font-weight: $bold;
	font-family: $font-main;
	border-radius: rem(14) 0;
	display: inline-block;
	letter-spacing: rem(1);
	padding: rem(20) rem(30);
	transition: all ease-in-out .2s;

	&:hover {
		color: $cta-main;
		background-color: white;
	}
}

/*======Header======*/

header {
	position: relative;
	z-index: 999;
	display: flex;
	align-items: center;

	#logo {
		display: inline-block;
		padding: rem(10) rem(25) rem(10) 5%;

		img {
			height: rem(60);
			width: rem(235);
		}
	}

	nav {

		ul {
			padding: 0;
			margin: 0;

			li {
				list-style-type: none;

				&.current-menu-item, &.current-menu-parent {

					> a, i {
						color: $cta-main !important;
					}
				}
			}
		}

		> ul {
			display: flex;
			justify-content: center;

			> li {
				margin-left: rem(50);
				position: relative;

				&.menu-item-has-children {
					i {
						position: absolute;
						top: rem(25);
						right: rem(5);
						color: $dark-grey;
						font-size: rem(12);
					}
				}

				&:first-of-type {
					margin-left: 0;
				}

				a {
					display: block;
					font-size: em(12);
					font-weight: $bold;
					font-family: $font-main;
					color: $dark-grey;
					padding: rem(25) rem(20) rem(25) rem(5);
					letter-spacing: rem(1);
					text-transform: uppercase;
				}

				ul {
					display: flex;
					flex-direction: column;
					flex: 1;
					background-color: $light-blue;
					padding: rem(8) 0;
					position: absolute;
					display: none;

						&:before {
							content: '';
							position: absolute;
							width: 0;
							height: 0;
							top: rem(-20);
							left: rem(23);
							border-style: solid;
							border-width: rem(22) 0 0 rem(22);
							border-color: transparent transparent transparent $light-blue;
						}

					li {
						margin: 0 rem(25);
						width: rem(180);

						&:last-of-type {
							a {
								border: none;
							}
						}

						a {
							font-size: em(12);
							font-weight: $semi-bold;
							font-family: $font-main;
							color: $dark-grey;
							padding: rem(12) 0;
							border-bottom: rem(2) solid white;
							line-height: 1.3;
						}
					}
				}
			}
		}	
	}

	#mobile-menu {
		display: none;
	}
}

.cta-banner {
	background: linear-gradient(60deg, $cta-main 49.95%, $dark-grey 50.05%);
	padding: rem(20) 0 rem(25);

	.container {
		display: flex;
		align-items: center;

		.cta-left {
			flex: 0 0 40%;
			margin-right: 10%;

			h2 {
				font-size: em(45);
				font-family: $font-title;
				color: white;
				text-transform: uppercase;
				letter-spacing: rem(2);
				margin: 0;
			}
		}

		.cta-right {
			flex: 0 0 40%;
			margin-left: 10%;
			p {
				font-size: em(23);
				font-weight: $light;
				font-family: $font-main;
				color: white;
				margin: 0;
				line-height: 1.4;
			}
		}
	}
}

/*======Footer======*/

#footer-main {
	background-color: $medium-grey;
	padding: rem(45) 0;

	.container {
		display: flex;
		justify-content: space-between;

		#social {
			display: flex;
			padding: 0;
			margin: 0;

			li {
				list-style-type: none;

				&:last-of-type {

					a {
						margin-right: 0;
					}	
				}

				a {
					margin-right: rem(15);

					i {
						color: $light-grey;

						&:before {
							font-size: em(28);
						}					
					}
				}
			}
		}

		h3 {
			font-size:em(20);
			font-family: $font-secondary;
			font-weight: $bold;
			color: white;
			letter-spacing: rem(1);
			margin: 0 0 rem(20);
			padding-bottom: rem(10);
			border-bottom: rem(2) solid #8797ad;
		}

		p {
			font-size: em(15);
			font-family: $font-main;
			font-weight: $regular;
			color: #e0e0e0;
			line-height: 1.6;
			margin: 0;
		}

		a {
			font-size: em(15);
			font-family: $font-main;
			font-weight: $regular;
			color: #e0e0e0;
			line-height: 1.6;
			margin: 0;
			display: block;

			&:hover {
				color: $cta-main;
			}
		}
	}
}

#footer-copy {
	background-color: #8797ad;

	.container {
		display: flex;
		justify-content: space-around;

		p {
			font-size: em(14);
			font-family: $font-main;
			font-weight: $regular;
			color: $medium-grey;
		}

		a {
			font-size: em(16);
			font-family: $font-main;
			font-weight: $semi-bold;
			color: $medium-grey;

			&:hover {
				color: $cta-main;
			}
		}
	}
}



/*======Home Page======*/

.home {

	header {
		background-color: rgba(255,255,255,0.2);
		position: absolute;
		top: 0;
		left: 0;
		z-index: 999;
		width: 100%;

		nav {
			ul {
				li {
					a, i {
						color: white;
					}

					ul {

						li {
							a {
								color: $dark-grey;
							}
						}
					}
				}
			}
		}
	}
}

.banner {

	.slide {
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		width: 100%;
		position: relative;
		height: 100vh;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.3);
		}	

		.container {
			box-sizing: border-box;
			position: relative;
			z-index: 1;
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			display: flex;
			justify-content: center;
			flex-direction: column;

			h1 {
				font-size: em(40);
				font-weight: $bold;
				font-family: $font-secondary;
				color: white;
				margin: 0 0 rem(15);
			}

			h2 {
				font-size: em(27);
				font-weight: $light;
				font-family: $font-secondary;
				color: white;
				margin: 0;
				line-height: 1.3;
			}

			a {
				margin-top: rem(25);
				background-color: transparent;
				border: rem(2) solid white;
				padding: rem(20) rem(45);
				align-self: flex-start;

				&:hover {
					background-color: rgba(255, 255, 255, 0.3);
					color: white;
				}
			}
		}
	}

	.flickity-page-dots {
		display: flex;
		flex-direction: column;
		height: 100%;
		right: 0;
		top: 0;
		justify-content: center;
		width: auto;

		li {
			width: rem(17.5);
			height: rem(17.5);
			position: relative;
			border: rem(1) solid white;
			border-radius: 50%;
			margin-bottom: rem(10);

			&:before {
				  content: " ";
				  position: absolute;
				  top: rem(2);
				  left: rem(2);
				  right: rem(2);
				  bottom: rem(2);
				  border-radius: 50%;
				  background-color: white;
			}

			&.is-selected {
				background-color: transparent;

				&:before {
					background-color: white;
				}
			}
		}
	}
}

#home-pods {
	background-color: $light-blue;
	
	.container {
		text-align: center;
		display: flex;
		position: relative;
		top: rem(-55);

		.home-pod {
			background-color: $dark-grey;
			flex: 1;
			padding: rem(125) 5% rem(30);
			margin-right: rem(20);
			border-radius: rem(45) 0;
			position: relative;

			&:before {
				content: '+';
				color: white;
				font-weight: $bold;
				font-size: em(24);
				position: absolute;
				bottom: rem(12);
				left: rem(16);
				z-index: 999999;
			}

			&:after {
				content: '';
				position: absolute;
				left: 0;
				bottom: 0;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: rem(75) 0 0 rem(75);
				border-color: transparent transparent transparent #8dd1da;
			}

			&:hover {
				background: linear-gradient(to top right, #76c9d3, #57bc90);

				&:after {
					border-color: transparent;
				}

				.pod-image {
					display: none;
				}

				.pod-image-hover {
					display: block;
				}

				h2 {
					color: white;
				}
			}

			&:last-of-type {
				margin: 0;
			}

			img {
				height: rem(75);
				width: rem(75);
				margin: 0 auto;
				position: absolute;
				left: 0;
				right: 0;
				top: rem(50);
			}

			.pod-image-hover {
				display: none;
			}

			h2 {
				font-size: em(18);
				font-family: $font-title;
				color: $cta-main;
				margin: rem(20) 0;
				letter-spacing: rem(2);
			}

			p {
				font-size: em(16);
				font-weight: $light;
				font-family: $font-main;
				color: white;
				margin: 0;
				line-height: 1.4;
			}
		}
	}
}

#home-partners {
	padding: rem(35) 0;
	.container {
		display: flex;
		justify-content: space-around;
		align-items: center;

		.partner {
			max-height: rem(75);
			max-width: rem(120);
		}
	}
}


/* Secondary Pages */

.col-left {
	flex: 0 0 25%;
	margin-right: 5%;
}

.col-right {
	flex: 0 0 70%;

	p {
		font-size: em(16);
		font-family: $font-main;
		font-weight: $regular;
		color: $content-grey;
		line-height: 1.5;
		margin: 0;
	}
}


/*======About Page======*/

#about-nav {
	padding: rem(45) 0;
	border-top: rem(1) solid #b5bcc7;

	.container {
		display: flex;
		justify-content: center;

		ul {
			display: flex;
			padding: 0;
			margin: 0;

			li {
				list-style-type: none;

				&:last-of-type {
					a {
						margin: 0;
					}
				}

				a {
					font-size: em(22);
					font-family: $font-title;
					color: $dark-grey;
					letter-spacing: rem(2);
					margin: 0 rem(75) 0 0;
					display: block;
				}

				&.current-menu-item, &:hover {
					a {
						color: #b9bfc9;
					}
				}
			}
		}
	}
}

.secondary-banner {
	position: relative;
	padding: rem(80) 0;

	.section-image {
		position: absolute;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		top: 0;
		left: 0;
		width: 100%;
		height: 100% ;
	}

	.banner-content {
		max-width: rem(330);
		background-color: #b9bfc9;
		padding: rem(50) 25% rem(50) rem(30);
		border-radius: rem(50) 0 0 0;
		margin: 0 0 0 auto;
		position: relative;

		h1 {
			color: white;
			font-size: em(18);
			font-family: $font-title;
			text-transform: uppercase;
			letter-spacing: rem(2);
			margin: 0 0 rem(20);
		}

		h2 {
			font-size: em(19);
			font-weight: $semi-bold;
			font-family: $font-main;
			color: $content-grey;
			margin: 0;
			line-height: 1.6;
			letter-spacing: rem(1);
		}

		p {
			font-size: em(16);
			font-weight: $light;
			font-family: $font-main;
			color: $content-grey;
			margin: 0 0 rem(20);
			line-height: 1.7;
			letter-spacing: rem(1);

			&:first-of-type {
				margin-top: rem(25);
			}

			&:last-of-type {
				margin-bottom: 0;
			}
		}

		.button {
			position: absolute;
			bottom: rem(-20);
		}
	}
}

.general-content {
	padding: rem(75) 0 rem(65);

	.container {
		text-align: center;

		p {
			font-size: em(27);
			font-weight: $light !important;
			font-family: $font-secondary;
			color: $content-grey;
			line-height: 1.5;
			margin: 0;
		}
	}
}

#qualifications-section {
	background-color: $light-blue;
	padding: rem(110) 0;

	.container {
		display: flex;
		justify-content: center;
		align-items: center;

		.qualifications {
			display: flex;

			.qualification {
				margin-right: rem(70);

				img {
					height: rem(75);
				}

				&:last-of-type {
					margin: 0 rem(50) 0 0;
				}
			}
		}
			
		.qualifications-content {

			p {
				font-size: em(27);
				font-weight: $light;
				font-family: $font-secondary;
				color: $medium-grey;
				line-height: 1.5;
				margin: 0 ;
			}
		}
	}
}

/*======Conditions Page======*/

#condition {
	padding: rem(75) 0;
	.container {
		display: flex;

		.col-left {

			h2 {
				font-size: em(21);
				font-family: $font-title;
				color: $light-grey;
				letter-spacing: em(2);
				margin: 0;
				text-align: center;
				text-transform: uppercase;
			}

			#condition-stats {
				background-color: $light-grey;
				border-radius: 40px 0 40px;
				padding: rem(30) rem(25) rem(20) rem(40);
				background-image: url(../icons/vector-smart-object.png);
				background-repeat: no-repeat;
				background-position: 90% 100%;

				p {
					font-size: em(16);
					font-family: $font-main;
					font-weight: $regular;
					color: $dark-grey;
					line-height: 1.4;
					margin: 0;
					position: relative;
					bottom: rem(24);
					text-indent: 30%;
					padding-left: 5%;
				}

				span {
					font-size: em(160);
					font-family: $font-title;
					color: $medium-grey;

					&:after {
						content: '\0025';
						font-size: em(10);
						vertical-align: top;
						position: relative;
						top: rem(10);
					}
				}
			}
		}

		.col-right {

			h2 {
				font-size: em(25);
				font-family: $font-title;
				color: $dark-grey;
				letter-spacing: rem(1);
				margin: 0 0 rem(35);
			}

			h3 {
				font-size: em(16);
				font-weight: $semi-bold;
				font-family: $font-main;
				color: $content-grey;
				margin: 0;
			}

			p {
				font-size: em(16);
				font-weight: $regular;
				font-family: $font-main;
				color: $content-grey;
				margin: 0;
				line-height: 1.4;

				&:first-of-type {
					margin: rem(20) 0;
				}
			}

			ul {
				padding: 0;
				margin: 0;			

				li {
					font-size: em(17);
					font-family: $font-main;
					font-weight: $regular;
					color: $content-grey;
					border-bottom: rem(1) solid black;
					padding-bottom: rem(5);
					margin: 0 0 rem(15) rem(30);
					display: inline-block;
					position: relative;
					display: table;

					&:before {
						content: '';
						background-image: url("../icons/bullet-image.png");
						height: rem(15);
						width: rem(15);
						display: inline-block;
						background-size: cover;
						position: absolute;
						top: rem(2);
						left: rem(-25);
 					}

					&:last-of-type {
						margin-bottom: 0;
					}
				}
			}
		}
	}
}

#condition-info {
	background-color: $light-blue;
	padding: rem(70) 0 rem(60);

	.container {
		display: flex;

		.col-left {
			display: flex;
			align-self: flex-start;
			justify-content: flex-end;
			margin: 0 0 0 rem(35);
			border-right: rem(1) solid $medium-grey;
			align-self: stretch;

			.button {
				background-color: $light-blue;
				color: #f70213;
				border: rem(2) solid #f70213;
				margin-right: rem(35);
				padding: rem(20) rem(50);
				align-self: flex-start;

				&:hover {
					background-color: #f70213;
					color: $light-blue;
				}
			}
		}

		.col-right {
			padding-left: rem(15);

			h3 {
				font-size: em(15);
				font-family: $font-main;
				font-weight: $semi-bold;
				font-style: italic;
				color: $dark-grey;
				letter-spacing: rem(1);
				margin: 0 0 rem(20);


				&:last-of-type {
					margin: 0;
					font-style: normal;
				}
			}

			p {
				font-size: em(15);
				font-family: $font-main;
				font-weight: $regular;
				color: $content-grey;
				line-height: 1.3;
				margin: 0 0 rem(40);
			}
		}
	}
}


/*======Services Page======*/

#service-info {
	padding: rem(70) 0;

	.container {
		display: flex;
		.col-right {
			border-top: rem(2) solid #77c9d4;
		}

		.col-left {
			border-top: rem(2) solid #77c9d4;

			#services-expand {
				font-size: em(12);
				font-family: $font-main;
				font-weight: $semi-bold;
				background-color: $dark-grey;
				color: $cta-main;
				padding: rem(15);
				display: block;
				text-transform: uppercase;
				letter-spacing: rem(1);
				display: none;
			}

			ul {
				padding: 0;
				margin: 0;

				li {
					list-style-type: none;
					position: relative;

					&:after {
						content: '';
						width: 92.5%;
						height: 1px;
						background-color: #f2f4f6;
						position: absolute;
						right: 2.5%;
						top: 0;
					}

					&:last-of-type {
						border: none;
					}

					a {
						font-size: em(12);
						font-family: $font-main;
						font-weight: $semi-bold;
						color: $dark-grey;
						padding: rem(15);
						display: block;
						text-transform: uppercase;
						letter-spacing: rem(1);
						line-height: 1.5;

						&:hover {
						color: $cta-main;
						}
					}
				}

				.current {

					&:after {
						display: none;
					}

					a {
						color: white;
						background-color: $cta-main;
						border-radius: rem(14) 0;

						&:hover {
							color: white;
						}
					}						
				}
			}
		}

		.col-right {
			p {
				margin-bottom: rem(25);

				&:last-of-type {
					margin: 0;
				}
			}
		}

		h2 {
			font-size: em(25);
			font-family: $font-title;
			color: $dark-grey;
			letter-spacing: rem(2);
		}
	}
}

#service-list {
	padding: rem(75) 0;
	background-color: $light-blue;

	.container {
		display: flex;

		.service-col {
			flex: 1;
			margin-right: 5%;

			&:last-of-type {
				margin-right: 0;
			}

			.service-list-item {
				margin-bottom: rem(30);
				position: relative;
				max-width: 80%;

				&:before {
					content: '';
					background-image: url(../icons/check-mark.png);
					position: absolute;
					width: rem(20);
					height: rem(17);
					background-size: cover;
					background-position: center;
					top: 0;
					left: rem(-35);
				}

				h3 {
					font-size: em(17);
					font-family: $font-main;
					font-weight: $semi-bold;
					color: red;
					padding-bottom: rem(5);
					border-bottom: rem(1) solid red;
					margin: 0;
					display: inline-block;
				}

				p {
					font-size: em(13);
					font-family: $font-main;
					font-weight: $regular;
					color: $dark-grey;
					margin: rem(10) 0 0;
				}

				&:last-of-type {
					margin-bottom: 0;
				}
			}
		}
	}
}

/*======The Practice Page======*/

#contact-banner {
	padding: rem(150) 0 rem(175);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	.container {
		text-align: end;
		h1 {
			font-size: em(35);
			font-family: $font-title;
			color: white;
			letter-spacing: rem(2);
		}
	}
}

#contact-wrapper {
	background-image: url(../icons/title-background.png);
	background-repeat: no-repeat;
	background-position: 25% 104%;
	background-size: rem(650);

	.container {
		background-color: $light-blue;
		padding: rem(55) 0 0 3%;
		border-radius: rem(70) 0 0;
		display: flex;
		flex-direction: column;
		position: relative;
		top: rem(-70);

		#contact-content {
			margin: 0 0 rem(60);
			align-self: center;
			position: relative;

			p {
				font-size: em(18);
				font-family: $font-main;
				font-weight: $semi-bold;
				color: $content-grey;
				margin: 0 0 rem(10);
			}

			a {
				font-size: em(18);
				font-family: $font-main;
				font-weight: $semi-bold;
				font-style: italic;
				color: $medium-grey;
				text-decoration: underline;
				letter-spacing: rem(1);
				margin: 0;
			}

			&:before {
				content: '';
				position: absolute;
				bottom: rem(-20);
				left: 0;
				height: rem(2);
				width: rem(65);
				background-color: $medium-grey;
			}
		}

		#contact-information {
			display: flex;

			#contact-left {
				flex: 0 0 20%;
				margin-right: 4%;
				padding-bottom: rem(20);
				display: flex;
				flex-direction: column;
				align-items: flex-start;

				a {
					font-size: em(33);
					font-family: $font-title;
					letter-spacing: rem(2);
					color: $cta-main;
				}

				p {
					font-size: em(16);
					font-family: $font-main;
					font-weight: $semi-bold;
					color: $content-grey;
					line-height: 1.6;
					margin:rem(30) 0 0;

					&:last-of-type {
						padding-bottom: rem(60);
						border-bottom: rem(1) solid $medium-grey;
					}
				}

				#additional-info {
					p {
						opacity: .6;
						border: none;
						padding: 0;
						margin: rem(20) 0 0;
					}
				}
			}

			#map {
				flex: 1;
			}
		}
	}
}


/*	Google Maps API	*/
a[href^="http://maps.google.com/maps"] {
  display: none !important; }

a[href^="https://maps.google.com/maps"] {
  display: none !important; }


.gmnoprint .gm-style-mtc, .gmnoprint a, .gmnoprint span, .gm-style-cc {
  display: none !important; }

.gmnoprint div {
  background: none !important; }

















