@media only screen and (max-width: rem(1180)) {

	.secondary-banner {

		.banner-content {
			padding-right: 25%;
		}
	}
}

@media only screen and (max-width: rem(1000)) {

	.secondary-banner {

		.banner-content {
			padding-right: 20%;
		}
	}
}

@media only screen and (max-width: rem(960)) {
	body, html {
		font-size: 15px;
	}
}

@media only screen and (min-width: rem(860)) {
	header {
		nav {
			ul {
				li {
					&:hover {

						> a, i {
							color: $cta-main !important;
						}

						ul {
							display: block;
						}
					}
					
				}
			}
		}
	}
}

@media only screen and (max-width: rem(860)) {

	.secondary-banner {
		padding: 0;

		.section-image {
			position: static;
			padding-bottom: 56.25%;
		}

		.banner-content {
			padding-right: 15%;
			font-size: 13px;
			max-width: 100%;
			border-radius: 0;
			text-align: center;

			.button {
				position: static;
				margin-top: rem(20);
			}		
		}
	}

	header {
		.container {
			display: none;
			position: absolute;
			background-color: $dark-grey;
			width: 100%;
			left: 0;
			max-width: 100%;
			top: 100%;
			overflow: hidden;

			nav {
				padding: rem(20) 5%;
			
				ul {
					flex-direction: column;
					position: initial !important;
					background-color: transparent;

					&:before {
						display: none;
					}

					> li {
						margin: 0;

						a {
							display: inline-block;
							color: white !important;
							border-bottom: none;
							padding-top: rem(15);
							padding-bottom: rem(15);
						}

						> ul {
							padding: 0;

							> li {
								text-indent: rem(10);
								width: 100%;

								> a {
									padding: rem(10);
								}
							}
						}

						i {
							cursor: pointer;
							top: rem(17);
							color: white;
						}

						&.active {
							> a, i {
								color: $cta-main !important;
							}
						}
					}

					.current-menu-parent {
						> a {
							color: $cta-main !important;
						}
					}
				}
			}
		}

		#mobile-menu {
			display: block;
			width: rem(30);
			height: rem(20);
			position: absolute;
			right: 5%;
			cursor: pointer;

			span {
				width: 100%;
				height: 2px;
				background-color: $dark-grey;
				position: absolute;
				transition: all ease-in-out 0.3s;
				left: 0;

				  &:first-child  {
				  	top: 0;
				  }

				  + span {
				  	top: 50%;
				  }

				  &:last-child {
				  	top: 100%;
				  }
			}
		}

		&.active {
			#mobile-menu {
				span{
			 		&:first-of-type {
						transform: rotate(45deg);
						top: 50%;
					}
					&:nth-of-type(2) {
						left: -1.25rem;
					    width: 0;
					    opacity: 0;
					}
					&:last-of-type {
						transform: rotate(-45deg);
			    		top: 50%;
					}
				}
			}
		}
	}

	.home {
		header {
			#mobile-menu {
				span {
					background-color: white;
				}
			}
		}
	}

	.banner .flickity-page-dots {
		display: none;
	}

	#home-pods {
		.container {
			flex-direction: column;
			top: 0;

			.home-pod {
				margin: rem(30) 0 0;
				
				&:last-of-type {
					margin: rem(30) 0;
				}

				p {
					padding: 0 10%;
				}
			}
		}
	}

	#contact-banner {
		.container {
			text-align: center;
		}
	}

	#contact-wrapper {
		.container {
			top: 0;
			width: 100%;
			border-radius: 0;
			box-sizing: border-box;
			padding-right: 5%;
			padding-bottom: rem(40);

			#contact-content {
				align-self: flex-start;
			}

			#contact-information {
				display: initial;

				#contact-left {
					flex: 0 0 100%;
				}

				#map {
					padding-bottom: 56.25%;
				}
			}
		}
	}

	#service-info {

		.container {
			flex-direction: column;

			.col-left {
				margin-right: 0;
				border-top: none;

				ul {
					li {
						&:after {
							width: 100%;
							left: 0;
						}
					}
				}
			}
		}

		#services-expand {
			display: block !important;
			cursor: pointer;
		}

		#services-list {
			display: none;
		}
	}

	#service-list {
		padding: rem(40) 5%;
		.container {
			flex-direction: column;

			.service-col {
				max-width: rem(250) !important;
				margin-right: 0;

				.service-list-item {
					margin-bottom: rem(20);
					max-width: 100%;

					&:last-of-type {
						margin-bottom: rem(20);
					}
				}
			}
		}
	}

	.current {
		a {
			border-radius: 0 !important;
		}						
	}
}

@media only screen and (max-width: rem(780)) {

	.secondary-banner {

		.banner-content {
			padding-right: 10%;
			font-size: 13px;
		}
	}

	#qualifications-section {
		padding: rem(35) 0;

		.container {
			flex-direction: column;
			text-align: center;

			.qualifications-content {
				p {
					font-size: em(16);
				}
			}

			.qualifications {
				margin: 0 0 rem(30);

				.qualification {

					&:last-of-type {
						margin: 0;
					}
				}
			}
		}
	}

	.general-content {
		padding: rem(35) 0;

		.container {
			p {
				font-size: em(16);
			}
		}
	}

	#condition, #condition-info {
		.container {
			flex-direction: column-reverse;

			.col-left {
				margin: rem(50) 0 0;
				display: initial;
				max-width: rem(250);
				border: none;
			}

			.col-right {
				padding: 0;
			}
		}
	}
}

@media only screen and (max-width: rem(730)) {

	.general-content {
		.container {
			p {
				font-size: 20px;
			}
		}
	}

	#qualifications-section {
		.container {
			.qualifications-content {
				p {
					font-size: 20px;
				}
			}
		}
	}

	.cta-banner {
		padding: 0;
		background: none;

		.container {
			flex-direction: column;
			text-align: center;
			align-items: stretch;
			width: 100%;
			max-width: 100%;

			.cta-left {
				background-color: $cta-main;
				margin-right: 0;
				padding: rem(20) 5%;
			}

			.cta-right {
				margin: 0;
				padding: 0;
				background-color: $dark-grey;
				padding: rem(20) 5%;
			}
		}
	}

	#footer-main {
		.container {
			flex-direction: column;
			align-items: center;
			text-align: center;

			#social {
				margin-bottom: rem(30);
			}

			.footer-pod {
				margin-bottom: rem(30);
			}
		}
	}

	#footer-copy {
		.container {
			flex-direction: column;
			justify-content: center;
			text-align: center;

			p {
				&:last-of-type {
					margin-top: 0;
				}
			}
		}
	}
}


@media only screen and (max-width: rem(530)) {

	.banner {
		font-size: 10px;

		.container {
			text-align: center;

			a {
				align-self: center !important;
			}
		}	
	}

	#home-partners {

		.container {

			.partner {
				margin: 0;
				width: 20%;
				max-width: 100%;
				max-height: 100%;			

				&:first-of-type {
					margin: 0;
				}
			}
		}
	}


	.cta-banner {		
		.container {

			.cta-left {
				
			}

			.cta-right {
				font-size: 10px;

				.button {
					font-size: 10px;
					padding: 10px 15px ;
				}
			}
		}
	}
}

@media only screen and (max-width: rem(460)) {

	#service-list {
		.container {
			align-items: center;

			.service-col {
				max-width: 100%;
				align-self: stretch;

				.service-list-item {
					&:before {
						top: 0;
						left: rem(-25);
					}
				}

				&:last-of-type {
					align-items: center;
				}
			}
		}
	}

	.secondary-banner {

		.banner-content {
			padding: rem(30) 10% rem(30) rem(20);		
		}
	}

	#about-nav {
		.container {
			ul {
				li {
					a {
					margin-right: rem(50);
					}
				}
			}
		}
	}
}

@media only screen and (max-width: rem(330)) {

	.qualifications {
		align-self: stretch;
		justify-content: space-around;

		.qualification {
			margin: 0 !important;
		}
	}

	#about-nav {
		.container {
			ul {
				li {
					a {
					margin-right: rem(30);
					font-size: em(18);
					}
				}
			}
		}
	}
}



